<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="#"><span class="glyphicon glyphicon-piggy-bank"></span>&ensp;MoneyKeeper</span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
        <% if (user) {%>
        <li>
            <a href="#" class="sign-out"><span class="glyphicon glyphicon-user"></span>Sing out
                <span class="name-user"><%= user.displayName || '' %></span></a>
        </li>
        <% } else {%>
        <li>
            <a href="#" class="sign-in"><span class="glyphicon glyphicon-user"></span>Sing in</a></li>
        </li>
        <% } %>
    </ul>
    </div>
</div>


