<!--основная часть после авторизации-->
<% if (user) {%>
<div class="table-responsive">
    <table class="table table-striped">
        <caption class="table-caption">Текущие расходы</caption>
        <thead>
        <tr class="info">
            <th colspan="2">Всего потрачено</th>
            <th><%= totalSum %></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <% for(var i =0; i < categoryObjects.length; i++) {%>
        <tr>
            <td><i class="category <%= categoryObjects[i].code %>"></i></td>
            <td><%= categoryObjects[i].name %></td>
            <td><%= categoryObjects[i].sum %></td>
            <td>#</td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<!--основная часть до авторизации-->
<% } else {%>

<div><h1 class="change-color-h1">Пожалуйста, авторизуйтесь, чтобы продолжить работу</h1></div>

<% } %>

