@charset "UTF-8";
html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 100px;
  background: darkcyan;
  font-size: 16px;
}

/*стиль навигации*/
div.navbar-collapse {
  padding-top: 0;
  margin-top: 0;
}
/*иконка*/
i {
  padding: 0 10px;
}

/*стиль названия приложения*/
.programs-name {
  min-height: 100px;
  line-height: 100px;
  background: #269abc;
}

.auth {
  height: 100px;
  line-height: 100px;
  background: #b9def0;
  text-align: center;
}

.mainText {
  height: 200px;
  line-height: 200px;
  background: #31b0d5;
}

.buttonStyle{
  height: 100px;
  line-height: 100px;
  background: #b9def0;
}



/*стиль для основного блока*/
.div-margin {
  margin-right: 25%;
  margin-left: 25%;
  background: white;
  text-align: center;
}

/*общий стиль для кнопок*/
.btn {
  width: auto;
}

.button-left {
  text-align: left;
  float: left;
}

.button-right {
  text-align: right;
}

.left {
  text-align: left;
}

/*стиль подвала*/
.footer {
  height: 100px;
  background: #269abc;
}

/*стиль текста подвала*/
#footerText {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 30px;
}

.center {
  text-align: center;
}

.row {
  margin-bottom: 0;
  margin-top: 0;
}


ul { list-style-type: none; }
ol { list-style-type: none; }

.nav>li>a {
  padding: 0px;
  margin: 0px;
  height: auto;
}

.table-caption {
  text-align: center;
  font-size: large;
}
th:last-child {
  text-align: right;
}
