@charset "UTF-8";
html {
  position: relative;
  min-height: 100%;
}

body {
  background: gainsboro;
  font-size: 16px;
}

.auth {
  margin-bottom: 0;
}

//стиль имени пользователя в навигации
.name-user {
  padding-left: 6px;
  color: #337ab7;
}

/*стиль для основного блока*/
.div-margin {
  background: white;
  text-align: center;
  margin-top: 0;
}

//стиль для текста до авторизации
.change-color-h1 {
  color: dimgrey;
  transition: all 0.3s ease;
}

.change-color-h1:hover {
  color: #337ab7;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*общий стиль для кнопок*/
.btn {
  width: auto;
}

.button-left {
  text-align: left;
  float: left;
}

.button-right {
  text-align: right;
}

.buttonStyle {
  height: 100px;
  line-height: 100px;
  background: #b9def0;
}

.left {
  text-align: left;
}

/*стиль подвала*/
.footer {
  height: 100px;
  background: black;
}

/*стиль текста подвала*/
#footerText {
  text-align: center;
  color: dimgrey;
  line-height: 100px;
}

#footerText:hover {
  color: white;
}

.center {
  text-align: center;
}

//стиль списков
ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

//стили таблицы
.table-caption {
  text-align: center;
  color: #337ab7;
  text-transform: uppercase;
}

th, td {
  text-align: left;
}

.month-calendar {
  text-align: -webkit-center;
}

//классы для иконок
td > i.category {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 2em;
}

.main_charges:before {
  content: "\f015";
}

.food_charges:before {
  content: "\f291";
}

.clothes_charges:before {
  content: "\f290";
}

.cosmetics_charges:before {
  content: "\f006";
}

.transport_charge:before {
  content: "\f207";
}

.education_charge:before {
  content: "\f19d";
}

.medicine_charge:before {
  content: "\f0fa";
}

.pleasure_charge:before {
  content: "\f072";
}

.different_charge:before {
  content: "\f06b";
}

.category-details-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}